index.jade
#enter
  .enter-content
    small
      strong TSUGUTO &amp; ITSUMI Wedding Party
    h1.sacramento Will you curry me?
    #loading.m40
      include ./_spoon.jade
      p.small.m40 loading...


#main(role="main")
  header#header
    .content-inner
      small
        strong TSUGUTO &amp; ITSUMI Wedding Party
      h1.sacramento Will you curry me?
  .wrapper
    .popin
      #itsumi2.in
    .content-inner.m40.text-center.elm1-wrapper.amatic
      include ./_elm1.jade
      h1.m20.bold SAVE THE DATE
      h2.amatic.m20 Sep. 4th, 2016 (SUN)
      include ./_elm2.jade
    .content-inner.m40
      p このたび、古山亜人・坂田逸美の結婚パーティーを開催することとなりました(=^ェ^=^ェ^=)
      p.mb20 つきましては、みなさまのご出席を賜りたく、下記ボタンからGoogleフォームに入力してください(=^ェ^=^ェ^=)
      .text-center
        img(src="./assets/images/futari.gif" width="280" height="280")
    .content-inner.text-center.m40
      a.btn(href="http://goo.gl/forms/mGJCgd4fLU2oi61k2") 出席フォームへ
    #details
      #itsumi1.in
      .content-inner.m40.text-center
        .party-details
          dl.mb30
            dt 日時
            .spoon-devide.m10
              include ./_spoon.jade
            dd
              strong 2016年9月4日(日)
              br
              | 17:00 受付 / 17:30 スタート
              small （予定）
          dl.mb30
            dt 料金
            .spoon-devide.m10
              include ./_spoon.jade
            dd
              strong 8,000円
          dl.mb15
            dt 場所
            .spoon-devide.m10
              include ./_spoon.jade
            dd
              strong ライトボックススタジオ青山
              br
              small 表参道駅から徒歩6分
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1620.832302061351!2d139.7140289!3d35.6606342!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b60d5782e73%3A0x99dd0c32bb1bfcc2!2z44CSMTA3LTAwNjIg5p2x5Lqs6YO95riv5Yy65Y2X6Z2S5bGx77yV5LiB55uu77yR77yW4oiS77yXIOODqeOCpOODiOODnOODg-OCr-OCueOCueOCv-OCuOOCqumdkuWxsQ!5e0!3m2!1sja!2sjp!4v1468337884695" width="100%" height="290" frameborder="0" style="border:0" allowfullscreen></iframe>
        .text-center
          a(href="http://www.lightboxstudio.net/www/wp/wp-content/uploads/2014/12/aoyama_map09.pdf" target="_blank") ACCESS(PDF)
          | 　
          a(href="https://goo.gl/maps/gGhmh" target="_blank") Google Map
    .content-inner.text-center.m40
      a.btn(href="http://goo.gl/forms/mGJCgd4fLU2oi61k2") 出席フォームへ
      p.small.mt10 出席される方・されない方も、お手数ですがこちらからご入力ください！

    .spoon-devide.text-center.m40
      include ./_spoon.jade

    .image-sepalate
      figure(style="background-image:url(https://d3inpvsbp3id80.cloudfront.net/images/a5/b7/a5b7a64a43370c71fbb2119fd151d9649783d2a4efd0f621231c45cab008519c_main)")
        h3.bold 緑に囲まれた素敵な会場です
      #tsuguto1.in

    .content-inner.text-center.mt15.mb40
      p.text-left 今回のパーティーは、青山のレンタルスタジオをお借りして、手作りでおもてなしをします！はじめてのことばかりですが、頑張ります！！

    .image-sepalate
      figure(style="background-image:url(http://scontent.cdninstagram.com/t51.2885-15/e35/13413238_217761925284521_1966104213_n.jpg)")
        h3.bold カレー🍛あります！

    .content-inner.text-center.mt15.mb40
      p.text-left もちろん、カレーの提供もあります。今回のパーティーでは、なんとあの「第1回アマチュアカレーグランプリ」で見事優勝を果たした、新井一平さんによるカレーをみなさんにも召し上がっていただきますよ！

    .content-inner.text-center.m40
      a.btn(href="http://goo.gl/forms/mGJCgd4fLU2oi61k2") 出席フォームへ
      p.small.mt10 出席される方・されない方も、お手数ですがこちらからご入力ください！

  #upas
    img(src="/assets/images/upas.gif" width="200")

  footer#footer
    small &copy; willyoucurry.me

www/index.html
<!DOCTYPE html><html lang="ja"><head><meta charset="UTF-8"><title>Will you curry me?</title><meta name="description" content="Wedding party for TSUGUTO&amp;ITSUMI"><meta name="robots" content="noindex,nofollow"><meta name="og:image" content="http://willyoucurry.me/assets/images/futari.jpg"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><link rel="stylesheet" href="/assets/stylesheets/style.css"><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><script src="/assets/javascripts/app.js"></script></head><body><div id="enter"><div class="enter-content"><small><strong>TSUGUTO &amp; ITSUMI Wedding Party</strong></small><h1 class="sacramento">Will you curry me?</h1><div id="loading" class="m40"><svg version="1.1" x="0px" y="0px" width="90px" height="14px" viewBox="0 0 90 14"><g><path d="M84.5,3.9c-3.3,0-32.9,2.5-61.9,2.5c-1-3.2-4.5-6.4-10-6.4C6.4,0,0,3.1,0,7c0,3.8,6.4,7,12.6,7 c5.5,0,9-3.2,10-6.4c29,0,58.6,2.5,61.9,2.5c4.6,0,5.5-1.3,5.5-3.1S89.1,3.9,84.5,3.9z"></path></g></svg><p class="small m40">loading...</p></div></div></div><div id="main" role="main"><header id="header"><div class="content-inner"><small><strong>TSUGUTO &amp; ITSUMI Wedding Party</strong></small><h1 class="sacramento">Will you curry me?</h1></div></header><div class="wrapper"><div class="popin"><div id="itsumi2" class="in"></div></div><div class="content-inner m40 text-center elm1-wrapper amatic"><svg class="elm" version="1.1" x="0px" y="0px" width="124px" height="28px" viewBox="0 0 124 28"><g><path d="M61,22.1c-3.2-5.8-7.1-8.5-11.4-9.3c-1.8,1.5-4.4,2-6.8,0.7c-0.3-0.1-0.5-0.3-0.7-0.5 c-1.3,0.3-2.7,0.7-4.1,1.2c0.8,1.1,1.8,2.1,3.1,3c2.1,1.5,4.6,2.6,7.2,3.4c-1.5-1.1-1.6-2.8-0.6-3.6c2.6-2,4.8,2,2.4,2 c-2,0-1.8,1.1-1.1,1.9C53.3,22.1,57.8,22.4,61,22.1L61,22.1z M57.4,23c-1.8,0.2-3.9,0.7-5.2,1.8c-0.9,0.8-2.7,1.7-3,0.9 c-0.5-1.5,0.7-2.7-0.8-2.3c-0.6,0.2-2.7,1-2.9,0.4c-0.1-0.4,0.1-2.4-2.2-2.4c-2.2,0-0.3-1.8-1.4-2c-0.9-0.2-2-0.6-2.8-0.9 c-1.4-0.5-1.1-1,0.6-0.9c-1.2-0.9-2.2-1.8-3-2.9c-1.5,0.6-2.9,1.2-4.3,1.9c-4,2-8,4.4-11.9,6.2c-0.2,0.4-0.1,0.8,0.8,0.8 c1,0,0.6,1.4-0.2,1.4c-1.5,0.1-2-1-1.3-1.9c-0.5,0.2-1.1,0.5-1.6,0.7c-0.5,0.8-0.5,1.6,1.3,1.6c2.4,0,0.1,4-2.4,2 c-0.9-0.7-0.9-2.1,0-3.1C12.5,26,8.2,26.5,4.2,24c-4.4-2.8-5.1-7.8-3.3-11.4c1.6-3.3,6.4-6.2,10.9-2.9c4,3,2.1,7.5-1,8.7 c-3.5,1.3-6.8-1.7-4.3-5.9c0.7-1.1,2.8-0.4,2.1,1.1c-1.5,2.5-0.3,4.6,1.6,4.1c1.7-0.4,2.9-3.1,1.7-5.8c-1.3-3-7.1-4.6-10.2,0.3 c-1.9,3.1-0.8,7.7,3.3,10.3c3.8,2.4,8.3,1.8,13.2,0c0,0,0.1,0,0.1-0.1c0.6-0.5,1.5-0.7,1.9-1.4c0.3-0.6-0.7-0.5-0.5-0.7 c0.1-0.1,2.8-0.5,2.9-0.5c2.2,0.1,0.7-1.8,0.7-2.2c0-0.7,2.3-0.6,2.9-0.6c1.5-0.1,0-0.9,0-2.4c0-0.8,2-0.5,3.1-0.1 c2,0.8,4.8,0.2,6.6-0.2l0.2-0.1c-1.1-1.7-1.7-3.6-1.6-5.9c0.2-5.3,4-8,8.1-8.2c4.9-0.2,10,3.1,9.1,9c-0.2,1-0.6,1.9-1.2,2.7 c4.4,0.9,8.4,3.8,12,10c0.2,0.4,0,0.9-0.4,1.1c-0.1,0-0.2,0.1-0.3,0.1c0,0-0.1,0-0.1,0.1C60.5,23,59,23,57.4,23L57.4,23z  M47.3,12.5c-1.1,0.6-2.4,0.8-3.5,0.2C44.9,12.5,46.1,12.5,47.3,12.5L47.3,12.5z M37.5,13.6c-3.4-5.3-1.9-12,5.1-13 c6.2-1,8.3,4.9,7.5,8.4c-0.2,0.9-0.8,1.8-1.4,2.5c-2-0.1-4,0.1-6.1,0.5c-1.6-1.3-1.3-3-0.5-4c0.8-1.2,2.6-1.6,3.1-0.1 c0.3,3,2.5,1.4,2.2-0.8c-1.3-3.1-4.7-2.8-6.5-1c-1.5,1.6-1.3,4.4,0.3,6.2C40,12.7,38.8,13.1,37.5,13.6z" style="fill-rule: evenodd; clip-rule: evenodd"></path><path d="M63,22.1c3.2-5.8,7.1-8.5,11.4-9.3c1.8,1.5,4.4,2,6.8,0.7c0.3-0.1,0.5-0.3,0.7-0.5 c1.3,0.3,2.7,0.7,4.1,1.2c-0.8,1.1-1.8,2.1-3.1,3c-2.1,1.5-4.6,2.6-7.2,3.4c1.5-1.1,1.6-2.8,0.6-3.6c-2.6-2-4.8,2-2.4,2 c2,0,1.8,1.1,1.1,1.9C70.7,22.1,66.2,22.4,63,22.1L63,22.1z M66.6,23c1.8,0.2,3.9,0.7,5.2,1.8c0.9,0.8,2.7,1.7,3,0.9 c0.5-1.5-0.7-2.7,0.8-2.3c0.6,0.2,2.7,1,2.9,0.4c0.1-0.4-0.1-2.4,2.2-2.4c2.2,0,0.3-1.8,1.4-2c0.9-0.2,2-0.6,2.8-0.9 c1.4-0.5,1.1-1-0.6-0.9c1.2-0.9,2.2-1.8,3-2.9c1.5,0.6,2.9,1.2,4.3,1.9c4,2,8,4.4,11.9,6.2c0.2,0.4,0.1,0.8-0.8,0.8 c-1,0-0.6,1.4,0.2,1.4c1.5,0.1,2-1,1.3-1.9c0.5,0.2,1.1,0.5,1.6,0.7c0.5,0.8,0.4,1.6-1.3,1.6c-2.4,0-0.1,4,2.4,2 c0.9-0.7,0.9-2.1,0-3.1c4.6,1.7,8.9,2.2,12.8-0.4c4.4-2.8,5.1-7.8,3.3-11.4c-1.6-3.3-6.4-6.2-10.9-2.9c-4,3-2.1,7.5,1,8.7 c3.5,1.3,6.8-1.7,4.3-5.9c-0.7-1.1-2.8-0.4-2.1,1.1c1.5,2.5,0.3,4.6-1.6,4.1c-1.7-0.4-2.9-3.1-1.7-5.8c1.3-3,7.1-4.6,10.2,0.3 c1.9,3.1,0.8,7.7-3.3,10.3c-3.8,2.4-8.3,1.8-13.2,0c0,0-0.1,0-0.1-0.1c-0.6-0.5-1.5-0.7-1.9-1.4c-0.3-0.6,0.7-0.5,0.5-0.7 c-0.1-0.1-2.8-0.5-2.9-0.5c-2.2,0.1-0.7-1.8-0.7-2.2c0-0.7-2.3-0.6-2.9-0.6c-1.5-0.1,0-0.9,0-2.4c0-0.8-2-0.5-3.1-0.1 c-2,0.8-4.8,0.2-6.6-0.2l-0.2-0.1c1.1-1.7,1.7-3.6,1.6-5.9c-0.2-5.3-4-8-8.1-8.2c-4.9-0.2-10,3.1-9.1,9c0.2,1,0.6,1.9,1.2,2.7 c-4.4,0.9-8.4,3.8-12,10c-0.2,0.4,0,0.9,0.4,1.1c0.1,0,0.2,0.1,0.3,0.1c0,0,0.1,0,0.1,0.1C63.5,23,65,23,66.6,23L66.6,23z  M76.7,12.5c1.1,0.6,2.4,0.8,3.5,0.2C79.1,12.5,77.9,12.5,76.7,12.5L76.7,12.5z M86.5,13.6c3.4-5.3,1.9-12-5.1-13 c-6.2-1-8.3,4.9-7.5,8.4c0.2,0.9,0.8,1.8,1.4,2.5c2-0.1,4,0.1,6.1,0.5c1.6-1.3,1.3-3,0.5-4c-0.8-1.2-2.6-1.6-3.1-0.1 c-0.3,3-2.5,1.4-2.2-0.8c1.3-3.1,4.7-2.8,6.5-1c1.5,1.6,1.3,4.4-0.3,6.2C84,12.7,85.2,13.1,86.5,13.6z" style="fill-rule: evenodd; clip-rule: evenodd"></path></g></svg><h1 class="m20 bold">SAVE THE DATE</h1><h2 class="amatic m20">Sep. 4th, 2016 (SUN)</h2><svg class="elm" version="1.1" x="0px" y="0px" width="124px" height="28px" viewBox="0 0 124 28"><g id="XMLID_227_"><path d="M63,5.9c3.2,5.8,7.1,8.5,11.4,9.3c1.8-1.5,4.4-2,6.8-0.7c0.3,0.1,0.5,0.3,0.7,0.5 c1.3-0.3,2.7-0.7,4.1-1.2c-0.8-1.1-1.8-2.1-3.1-3c-2.1-1.5-4.6-2.6-7.2-3.4c1.5,1.1,1.6,2.8,0.6,3.6c-2.6,2-4.8-2-2.4-2 c2,0,1.8-1.1,1.1-1.9C70.7,5.9,66.2,5.6,63,5.9L63,5.9z M66.6,5c1.8-0.2,3.9-0.7,5.2-1.8c0.9-0.8,2.7-1.7,3-0.9 c0.5,1.5-0.7,2.7,0.8,2.3c0.6-0.2,2.7-1,2.9-0.4c0.1,0.4-0.1,2.4,2.2,2.4c2.2,0,0.3,1.8,1.4,2c0.9,0.2,2,0.6,2.8,0.9 c1.4,0.5,1.1,1-0.6,0.9c1.2,0.9,2.2,1.8,3,2.9c1.5-0.6,2.9-1.2,4.3-1.9c4-2,8-4.4,11.9-6.2c0.2-0.4,0.1-0.8-0.8-0.8 c-1,0-0.6-1.4,0.2-1.4c1.5-0.1,2,1,1.3,1.9c0.5-0.2,1.1-0.5,1.6-0.7c0.5-0.8,0.5-1.6-1.3-1.6c-2.4,0-0.1-4,2.4-2 c0.9,0.7,0.9,2.1,0,3.1c4.6-1.7,8.9-2.2,12.8,0.4c4.4,2.8,5.1,7.8,3.3,11.4c-1.6,3.3-6.4,6.2-10.9,2.9c-4-3-2.1-7.5,1-8.7 c3.5-1.3,6.8,1.7,4.3,5.9c-0.7,1.1-2.8,0.4-2.1-1.1c1.5-2.5,0.3-4.6-1.6-4.1c-1.7,0.4-2.9,3.1-1.7,5.8c1.3,3,7.1,4.6,10.2-0.3 c1.9-3.1,0.8-7.7-3.3-10.3c-3.8-2.4-8.3-1.8-13.2,0c0,0-0.1,0-0.1,0.1c-0.6,0.5-1.5,0.7-1.9,1.4c-0.3,0.6,0.7,0.5,0.5,0.7 c-0.1,0.1-2.8,0.5-2.9,0.5c-2.2-0.1-0.7,1.8-0.7,2.2c0,0.7-2.3,0.6-2.9,0.6c-1.5,0.1,0,0.9,0,2.4c0,0.8-2,0.5-3.1,0.1 c-2-0.8-4.8-0.2-6.6,0.2l-0.2,0.1c1.1,1.7,1.7,3.6,1.6,5.9c-0.2,5.3-4,8-8.1,8.2c-4.9,0.2-10-3.1-9.1-9c0.2-1,0.6-1.9,1.2-2.7 c-4.4-0.9-8.4-3.8-12-10c-0.2-0.4,0-0.9,0.4-1.1c0.1,0,0.2-0.1,0.3-0.1c0,0,0.1,0,0.1-0.1C63.5,5,65,5,66.6,5L66.6,5z M76.7,15.5 c1.1-0.6,2.4-0.8,3.5-0.2C79.1,15.5,77.9,15.5,76.7,15.5L76.7,15.5z M86.5,14.4c3.4,5.3,1.9,12-5.1,13c-6.2,1-8.3-4.9-7.5-8.4 c0.2-0.9,0.8-1.8,1.4-2.5c2,0.1,4-0.1,6.1-0.5c1.6,1.3,1.3,3,0.5,4c-0.8,1.2-2.6,1.6-3.1,0.1c-0.3-3-2.5-1.4-2.2,0.8 c1.3,3.1,4.7,2.8,6.5,1c1.5-1.6,1.3-4.4-0.3-6.2C84,15.3,85.2,14.9,86.5,14.4z" style="fill-rule: evenodd; clip-rule: evenodd"></path><path d="M61,5.9c-3.2,5.8-7.1,8.5-11.4,9.3c-1.8-1.5-4.4-2-6.8-0.7c-0.3,0.1-0.5,0.3-0.7,0.5 c-1.3-0.3-2.7-0.7-4.1-1.2c0.8-1.1,1.8-2.1,3.1-3c2.1-1.5,4.6-2.6,7.2-3.4c-1.5,1.1-1.6,2.8-0.6,3.6c2.6,2,4.8-2,2.4-2 c-2,0-1.8-1.1-1.1-1.9C53.3,5.9,57.8,5.6,61,5.9L61,5.9z M57.4,5c-1.8-0.2-3.9-0.7-5.2-1.8c-0.9-0.8-2.7-1.7-3-0.9 c-0.5,1.5,0.7,2.7-0.8,2.3c-0.6-0.2-2.7-1-2.9-0.4c-0.1,0.4,0.1,2.4-2.2,2.4c-2.2,0-0.3,1.8-1.4,2c-0.9,0.2-2,0.6-2.8,0.9 c-1.4,0.5-1.1,1,0.6,0.9c-1.2,0.9-2.2,1.8-3,2.9c-1.5-0.6-2.9-1.2-4.3-1.9c-4-2-8-4.4-11.9-6.2c-0.2-0.4-0.1-0.8,0.8-0.8 c1,0,0.6-1.4-0.2-1.4c-1.5-0.1-2,1-1.3,1.9c-0.5-0.2-1.1-0.5-1.6-0.7c-0.5-0.8-0.4-1.6,1.3-1.6c2.4,0,0.1-4-2.4-2 c-0.9,0.7-0.9,2.1,0,3.1C12.5,2,8.2,1.5,4.2,4c-4.4,2.8-5.1,7.8-3.3,11.4c1.6,3.3,6.4,6.2,10.9,2.9c4-3,2.1-7.5-1-8.7 C7.4,8.4,4,11.5,6.5,15.6c0.7,1.1,2.8,0.4,2.1-1.1c-1.5-2.5-0.3-4.6,1.6-4.1c1.7,0.4,2.9,3.1,1.7,5.8c-1.3,3-7.1,4.6-10.2-0.3 c-1.9-3.1-0.8-7.7,3.3-10.3c3.8-2.4,8.3-1.8,13.2,0c0,0,0.1,0,0.1,0.1c0.6,0.5,1.5,0.7,1.9,1.4c0.3,0.6-0.7,0.5-0.5,0.7 c0.1,0.1,2.8,0.5,2.9,0.5c2.2-0.1,0.7,1.8,0.7,2.2c0,0.7,2.3,0.6,2.9,0.6c1.5,0.1,0,0.9,0,2.4c0,0.8,2,0.5,3.1,0.1 c2-0.8,4.8-0.2,6.6,0.2l0.2,0.1c-1.1,1.7-1.7,3.6-1.6,5.9c0.2,5.3,4,8,8.1,8.2c4.9,0.2,10-3.1,9.1-9c-0.2-1-0.6-1.9-1.2-2.7 c4.4-0.9,8.4-3.8,12-10c0.2-0.4,0-0.9-0.4-1.1c-0.1,0-0.2-0.1-0.3-0.1c0,0-0.1,0-0.1-0.1C60.5,5,59,5,57.4,5L57.4,5z M47.3,15.5 c-1.1-0.6-2.4-0.8-3.5-0.2C44.9,15.5,46.1,15.5,47.3,15.5L47.3,15.5z M37.5,14.4c-3.4,5.3-1.9,12,5.1,13c6.2,1,8.3-4.9,7.5-8.4 c-0.2-0.9-0.8-1.8-1.4-2.5c-2,0.1-4-0.1-6.1-0.5c-1.6,1.3-1.3,3-0.5,4c0.8,1.2,2.6,1.6,3.1,0.1c0.3-3,2.5-1.4,2.2,0.8 c-1.3,3.1-4.7,2.8-6.5,1c-1.5-1.6-1.3-4.4,0.3-6.2C40,15.3,38.8,14.9,37.5,14.4z" style="fill-rule: evenodd; clip-rule: evenodd"></path></g></svg></div><div class="content-inner m40"><p>このたび、古山亜人・坂田逸美の結婚パーティーを開催することとなりました(=^ェ^=^ェ^=)</p><p class="mb20">つきましては、みなさまのご出席を賜りたく、下記ボタンからGoogleフォームに入力してください(=^ェ^=^ェ^=)</p><div class="text-center"><img src="./assets/images/futari.gif" width="280" height="280"></div></div><div class="content-inner text-center m40"><a href="http://goo.gl/forms/mGJCgd4fLU2oi61k2" class="btn">出席フォームへ</a></div><div id="details"><div id="itsumi1" class="in"></div><div class="content-inner m40 text-center"><div class="party-details"><dl class="mb30"><dt>日時</dt><div class="spoon-devide m10"><svg version="1.1" x="0px" y="0px" width="90px" height="14px" viewBox="0 0 90 14"><g><path d="M84.5,3.9c-3.3,0-32.9,2.5-61.9,2.5c-1-3.2-4.5-6.4-10-6.4C6.4,0,0,3.1,0,7c0,3.8,6.4,7,12.6,7 c5.5,0,9-3.2,10-6.4c29,0,58.6,2.5,61.9,2.5c4.6,0,5.5-1.3,5.5-3.1S89.1,3.9,84.5,3.9z"></path></g></svg></div><dd><strong>2016年9月4日(日)</strong><br>17:00 受付 / 17:30 スタート<small>（予定）</small></dd></dl><dl class="mb30"><dt>料金</dt><div class="spoon-devide m10"><svg version="1.1" x="0px" y="0px" width="90px" height="14px" viewBox="0 0 90 14"><g><path d="M84.5,3.9c-3.3,0-32.9,2.5-61.9,2.5c-1-3.2-4.5-6.4-10-6.4C6.4,0,0,3.1,0,7c0,3.8,6.4,7,12.6,7 c5.5,0,9-3.2,10-6.4c29,0,58.6,2.5,61.9,2.5c4.6,0,5.5-1.3,5.5-3.1S89.1,3.9,84.5,3.9z"></path></g></svg></div><dd><strong>8,000円</strong></dd></dl><dl class="mb15"><dt>場所</dt><div class="spoon-devide m10"><svg version="1.1" x="0px" y="0px" width="90px" height="14px" viewBox="0 0 90 14"><g><path d="M84.5,3.9c-3.3,0-32.9,2.5-61.9,2.5c-1-3.2-4.5-6.4-10-6.4C6.4,0,0,3.1,0,7c0,3.8,6.4,7,12.6,7 c5.5,0,9-3.2,10-6.4c29,0,58.6,2.5,61.9,2.5c4.6,0,5.5-1.3,5.5-3.1S89.1,3.9,84.5,3.9z"></path></g></svg></div><dd><strong>ライトボックススタジオ青山</strong><br><small>表参道駅から徒歩6分</small></dd></dl></div><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1620.832302061351!2d139.7140289!3d35.6606342!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b60d5782e73%3A0x99dd0c32bb1bfcc2!2z44CSMTA3LTAwNjIg5p2x5Lqs6YO95riv5Yy65Y2X6Z2S5bGx77yV5LiB55uu77yR77yW4oiS77yXIOODqeOCpOODiOODnOODg-OCr-OCueOCueOCv-OCuOOCqumdkuWxsQ!5e0!3m2!1sja!2sjp!4v1468337884695" width="100%" height="290" frameborder="0" style="border:0" allowfullscreen></iframe><div class="text-center"><a href="http://www.lightboxstudio.net/www/wp/wp-content/uploads/2014/12/aoyama_map09.pdf" target="_blank">ACCESS(PDF)</a>　<a href="https://goo.gl/maps/gGhmh" target="_blank">Google Map</a></div></div></div><div class="content-inner text-center m40"><a href="http://goo.gl/forms/mGJCgd4fLU2oi61k2" class="btn">出席フォームへ</a><p class="small mt10">出席される方・されない方も、お手数ですがこちらからご入力ください！</p></div><div class="spoon-devide text-center m40"><svg version="1.1" x="0px" y="0px" width="90px" height="14px" viewBox="0 0 90 14"><g><path d="M84.5,3.9c-3.3,0-32.9,2.5-61.9,2.5c-1-3.2-4.5-6.4-10-6.4C6.4,0,0,3.1,0,7c0,3.8,6.4,7,12.6,7 c5.5,0,9-3.2,10-6.4c29,0,58.6,2.5,61.9,2.5c4.6,0,5.5-1.3,5.5-3.1S89.1,3.9,84.5,3.9z"></path></g></svg></div><div class="image-sepalate"><figure style="background-image:url(https://d3inpvsbp3id80.cloudfront.net/images/a5/b7/a5b7a64a43370c71fbb2119fd151d9649783d2a4efd0f621231c45cab008519c_main)"><h3 class="bold">緑に囲まれた素敵な会場です</h3></figure><div id="tsuguto1" class="in"></div></div><div class="content-inner text-center mt15 mb40"><p class="text-left">今回のパーティーは、青山のレンタルスタジオをお借りして、手作りでおもてなしをします！はじめてのことばかりですが、頑張ります！！</p></div><div class="image-sepalate"><figure style="background-image:url(http://scontent.cdninstagram.com/t51.2885-15/e35/13413238_217761925284521_1966104213_n.jpg)"><h3 class="bold">カレー🍛あります！</h3></figure></div><div class="content-inner text-center mt15 mb40"><p class="text-left">もちろん、カレーの提供もあります。今回のパーティーでは、なんとあの「第1回アマチュアカレーグランプリ」で見事優勝を果たした、新井一平さんによるカレーをみなさんにも召し上がっていただきますよ！</p></div><div class="content-inner text-center m40"><a href="http://goo.gl/forms/mGJCgd4fLU2oi61k2" class="btn">出席フォームへ</a><p class="small mt10">出席される方・されない方も、お手数ですがこちらからご入力ください！</p></div></div><div id="upas"><img src="/assets/images/upas.gif" width="200"></div><footer id="footer"><small>&copy; willyoucurry.me</small></footer></div></body></html>
